In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('dataset\houses.csv')
data.head()

,Description,Type,Price,Price Type,Video,Area (m²),Bedrooms,Bathrooms,Level,Furnished,...,Landline,Security,Central A/C & heating,Covered Parking,Pets Allowed,Private Garden,Maids Room,Pool,Compound,Down Payment
0,بتهاوس مفروش للايجار - فورتي ويست بيفرلى هيلز ...,Penthouse,"77,500",Price,Not Available,300,2,3,4,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,شقة للايجار بكمبوند كايرو فيستفال سيتى القاهر...,Apartment,"60,000",Price,Not Available,200,3,3,NaN,Yes,...,Yes,Yes,Yes,Yes,Yes,No,No,Yes,NaN,NaN
2,التفاصيل: شقة كورنر للإيجار في هايد بارك | الق...,Apartment,"30,000",Price,Not Available,230,3,2,3,NaN,...,No,Yes,No,No,No,No,No,No,NaN,NaN
3,للأيجار مفروش شقه حجره وصاله مساحه ٦٠ م بقريه ...,Apartment,"5,000",Price,Not Available,60,1,1,2,Yes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,شقه 131 متر للإيجار تتكون من ثلاث غرف وحمامين ...,Apartment,"15,000",Price,Not Available,131,3,2,5,NaN,...,Yes,No,No,No,No,No,No,No,NaN,NaN

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9612 entries, 0 to 9611
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Description                  9612 non-null   object
 1   Type                         9612 non-null   object
 2   Price                        9612 non-null   object
 3   Price Type                   9612 non-null   object
 4   Video                        9612 non-null   object
 5   Area (m²)                    9612 non-null   object
 6   Bedrooms                     9612 non-null   object
 7   Bathrooms                    9612 non-null   int64
 8   Level                        9095 non-null   object
 9   Furnished                    8630 non-null   object
 10  Virtual Tour                 9612 non-null   object
 11  Area                         9579 non-null   object
 12  City                         9579 non-null   object
 13  Electricity Meter            7482 non-null   object
 14  Built in Kitchen Appliances  7482 non-null   object
 15  Water Meter                  7482 non-null   object
 16  Elevator                     7482 non-null   object
 17  Balcony                      7482 non-null   object
 18  Natural Gas                  7482 non-null   object
 19  Landline                     7482 non-null   object
 20  Security                     7482 non-null   object
 21  Central A/C & heating        7482 non-null   object
 22  Covered Parking              7482 non-null   object
 23  Pets Allowed                 7482 non-null   object
 24  Private Garden               7482 non-null   object
 25  Maids Room                   7482 non-null   object
 26  Pool                         7482 non-null   object
 27  Compound                     149 non-null    object
 28  Down Payment                 2243 non-null   object
dtypes: int64(1), object(28)
memory usage: 2.1+ MB